<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="msg" />
        <input type="text" v-model="stus.name" />
    </div>
    <script type="text/javascript" src="../node_modules/vue/dist/vue.js"></script>
    <script type="text/javascript" src="../Js/test-component.js"></script>
    <script type="text/javascript">
        var vm = new Vue({
            el: '#app',
            data() {
                return {
                    msg: '',
                    stus: {
                        name: "jack"
                    }
                }
            },
            watch: {
                // 这里监听字符串 msg
                // 当 msg 改变的时候调用监听方法
                // 监听方法中第一个参数是改变后的值（新值），第二个参数是改变前的值（旧值）
                msg: function (newV, oldV) {
                    console.log(newV);
                    console.log(oldV);
                },

                /**
                 * stus是一般对象时，是监听不了的  
                 *      字符串改变时，地址是跟着变化的，所以能监听
                 *      监听器监听的是对象的地址变化，改变对象的中的属性时，对象的的地址是没有变化的，从而不能监听
                 */
                stus: function () {
                    console.log("stus改变了？");
                },

                // 监听复杂数据类型（object，array等）  要用到深度监视
                stus:{
                    deep:true, //深度监视
                    handler:function(newV,oldV){
                        console.log(newV.name);
                        console.log(oldV.name);
                    }
                }
            },
            template: ''
        });
    </script>
</body>

</html>